{%extends 'IVM_layout.html' %}
{%block body%}

<div class = content-section>
<table class ="content-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Product Code</th>
            <th>Composition</th>
            <th>Buy Date</th>
            <th>Expiry Date</th>
            <th>QT in cartons</th>
            <th>Price per strip</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in Products %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.id }}</td>
    <td>{{ product.composition }}</td>
    <td>{{ product.bdate }}</td>
    <td>{{ product.edate }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.price }}</td>
    <td>
        <button type="button" class="btn btn-warning btn-sm m-1" data-toggle="modal" data-target="#updateModal{{ loop.index }}">Update</button>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ loop.index }}">Delete</button>
    </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ loop.index }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ loop.index }}">Are you sure, you want to remove this item from the list?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel{{ loop.index }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel{{ loop.index }}">Are you sure, you want to update this item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('update_product', product_id=product.id) }}" method="POST">
                    <button type="submit" class="btn btn-warning">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

</tbody>
</table>
</div>
{%endblock%}